<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sedan+SC&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <a id="logo" href="index.HTML">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="SAFE.com">
        </a>
        <ul id="left-part">
            <li><a href="index.HTML">Home</a></li>
            <li><a href="personal Info.html">Personal Info</a></li>
            <li><a href="aboutUs.html">About Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="left-section">
            <div class="main-content">
                <h1 class="main-heading h-primary">SAFE</h1>
                <h2 class="sub-heading"><u>S</u>afety <u>A</u>lert for <u>F</u>inite <u>E</u>nvironment</h2>
                <p>Safe is a comprehensive safety platform designed to protect girls and women through real-time tracking, emergency alerts, and secure communication channels. It empowers users with tools to ensure their safety and well-being in any situation. Stay connected, stay safe with Safe.</p>
                <a href="SignUp.html" class="cta-button" target="_blank">LOGIN OR SIGN-UP</a>
            </div>
        </div>
        <div class="right-section">
            <img src="{{ url_for('static', filename='img/Bg.png') }}" alt="SAFE Logo" class="safe-image">
        </div>
    </div>
    <footer>Copyright &copy; All right reserved.</footer>
</body>

</html>